{% extends "layout.html" %}

{% block title %}
    Add New Title
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="isbn" placeholder="isbn" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="level" placeholder="Level" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="edition" placeholder="Edition" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="price_new" placeholder="New Price" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="price_used" placeholder="Used Price" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stock_new" placeholder="No. of New Books" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stock_used" placeholder="No. of Used Books" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Add Book</button>
    </form>


<!--{%if stock%}-->

<!--{% endif %}-->


{% endblock %}
